[data-reach-listbox-button] {
  border-radius: 5px;
  border: 0px;
  background-color: #f3f4f6;
}
[data-reach-dialog-overlay] {
  display: flex;
  justify-content: center;
}

[data-reach-dialog-content] {
  flex-basis: clamp(250px, 100%, 515px);
  padding: 0px;
  margin: 0px;
  margin-top: 10vh;
  margin-bottom: auto;
  border-radius: 5px;
}

.close-button {
  background-color: #4b5563;
  color: white;
  border: 0px;
  padding: 0px;
  margin: -12px 10px 0px 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  transform: rotate(45deg);
  font-size: 16px;
  font-weight: bold;
}
