.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  background: #ffffff;
  margin: 30px;
  border-radius: 10px;
  flex-basis: clamp(350px, 35vw, 550px);
  display: flex;
  flex-direction: column;
}
